*{
    margin: 0;
}

body{

    background-image: url(assets/img/aboutus/AboutGamePage.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    height: 4929px;
    background-repeat: no-repeat;
}

#header{
    background-image: url(assets/img/aboutus/header.png);
    height: 110vh;
    background-size: 100% 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
}  

#text{
    display: flex;
    position: relative;
    justify-content: right;
}

#txtheader{
    width: 40vw;
    height: 32vh;
    position: absolute;
    right: 5em;
}

#overview{
    height: 106vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#featuresoview{
    display: flex;
    justify-content: center;
    align-items: center;
}

#galoview{
    display: flex;
    justify-content: center;
    align-items: center;
}

#platformoview{
    display: flex;
    justify-content: center;
    align-items: center;
}

#overview h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
/* identical to box height */


color: #FFFFFF;
}

#overview h1:hover{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-shadow: 3px 1px 8px #6BD2D9;
}

#gamefeatures{
    /* position: fixed; */
    background-image: url(assets/img/aboutus/bggamefeature.png);
    background-size: 100% 100%;
    height: 420vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
    background-attachment: fixed;
}

#emptyfeatures{
    height: 3vw;
}

#gamefeaturestitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
}

#gamefeaturestitle h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    text-align: center;

    color: #000000;
}

#adventure{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#adventureimage{

}

#adventureimage img{
    width: 70vw;
    height: 65vh;
}

#adventuretext{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#adventuretitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-right: 5vw;
}

#adventuretitle h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#adventureexp{
    display: flex;
    margin-right: 5vw;
}

#adventureexp h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#discover{
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#discoverimage img{
    width: 70vw;
    height: 65vh;
}

#discovertext{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#discovertitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-left: 5vw;
}

#discovertitle h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;

    color: #000000;
}

#discoverexp{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5vw;
}

#discoverexp h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#travelfeatures{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#travelimage{

}

#travelimage img{
    width: 70vw;
    height: 65vh;
}

#traveltext{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#traveltitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    margin-right: 5vw;
}

#traveltitle h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#travelexp{
    display: flex;
    margin-right: 5vw;
}

#travelexp h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#masterfeatures{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#masterimage{

}

#masterimage img{
    width: 70vw;
    height: 65vh;
}

#mastertext{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#mastertitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    margin-left: 5vw;
}

#mastertitle h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#masterexp{
    display: flex;
    margin-left: 5vw;
}

#masterexp h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#buildfeatures{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#buildimage{
    width: 70vw;
    height: 65vh;
}

#buildimage img{
    width: 70vw;
    height: 65vh;
}

#buildtext{
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#buildtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    margin-right: 5vw;
}

#buildtitle h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#buildexp{
    display: flex;
    margin-right: 5vw;
}

#buildexp h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#emptyspace{
    height: 70px;
}

#galleries{
    background-image: url(assets/img/aboutus/backgroundgaleries.png);
    background-size: 100% 100%;
    height: 615px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#galleriestitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

#galleriestitle h1{
    text-align: center;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
}

#galleriescontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#photos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linespace{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linespace img{

    height: 70vh;
}

#videos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#galleriescontent h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    transition: 500ms;
    color: #FFFFFF;
}

#galleriescontent h1:hover{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    text-shadow: 3px 1px 8px #6BD2D9;
    transition: 500ms;
}

#emptyspace2{
    height: 70px;
}

#platforms{
    height: 700px;
    display: grid;
    grid-template-rows: 1.1fr 1fr 0.5fr;
}

#genshinlogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#genshinlogo img{
    width: 400px;
    height: 170px;
}

#platformstext{
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#ptext1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ptext1 h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;

    color: #FFFFFF;
}

#ptext2{
    display: flex;
    justify-content: center;
}

#ptext2 h1{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    color: #0B0A0A;
}

#platformslogo{
    display: flex;
    justify-content: center;
}

/* #platformslogo:hover{
    filter: drop-shadow(1px 2px 4px #6BD2D9);
} */

#pslogo:hover{
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#iOSlogo:hover{
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#androidlogo:hover{
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#windowslogo:hover{
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#platformsbuttonup{
    display: flex;
    justify-content: center;
    align-items: center;
}

#platformsbuttonup img{
    width: 35px;
    height: 50px;
}

