* {
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

body {

    background-image: url(assets/img/aboutus/background.webp);
    background-attachment: fixed;
    background-position: 20%;
    background-size: cover;
    height: 850px;
    background-repeat: no-repeat;
}

.navbar {
    position: absolute;
    display: flex;
    background-color: rgba(60, 53, 59, 0.5);
    justify-content: space-between;
    /* padding: 2%; */
    width: 100%;
    height: 10%;
    z-index: 5;
    font-family: Tahoma;
    font-style: normal;
    overflow: hidden;
}

.logo img {
    height: 95%;
    width: 100%;
}

.logo-menu {
    display: flex;
    margin-left: 4%;
    gap: 2vw;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.menu a {
    color: white;
    opacity: 80%;
    text-decoration: none;
    transition: all 0.2s;
}

.menu a.active {
    color: white;
    opacity: 100%;
    text-shadow: 1px 2px 4px #6BD2D9;
}

.menu a:hover {
    /* border-top: 5px solid #FFCF0D; */
    /* border-bottom: 5px solid transparent; */
    opacity: 100%;
    text-shadow: 1px 2px 4px #6BD2D9;
    /* padding-top: 20px; */
}

.menu-button a {
    color: white;
    text-decoration: none;
    opacity: 80%;
    transition: all 0.2s;
}

.menu-button a:hover {
    opacity: 100%;
    text-shadow: 1px 2px 4px #6BD2D9;
}

.menu-button button {
    background-color: #FFCF0D;
    height: 100%;
    padding: 2vh 3vw;
    font-size: 1em;
    color: #5F5656;
    border: transparent;
}

.navbar a.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive {
        float: none;
        display: block;
        text-align: left;
    }
}

#header{
    background-image: url(assets/img/aboutus/header.png);
    height: calc(45vw + 20px);
    background-size: contain;
    /* width: calc(98vw + 9px); */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-repeat: no-repeat;

}

#text {
    display: flex;
    position: relative;
    justify-content: right;
}

#txtheader {
    margin-right: calc(1vw + 10px);
    width: calc(31vw + 17px);
    height: calc(12vw + 10px);
    /* position: absolute;
    right: 5em; */
}

#overview {
    height: calc(50vw + 282px);
    width: calc(95vw + 46px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#featuresoview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(30 + 30px);
}

#galoview {
    display: grid;
    grid-template-rows: 1.2fr 0.9fr;
}

#galleriesoverview {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: calc(3vw + 8px);
}

#oviewscrolldown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#oviewscrolldown img{
    width: 3vw;
    height: 10vh;
}

#platformoview {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #gamefeaturestxt{
    width: calc(23vw + 5px);
} */
#overview h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: calc(3vw + 6px);
    /* identical to box height */


    color: #FFFFFF;
}

#overview h1:hover {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: calc(3vw + 6px);
    text-shadow: 3px 1px 8px #6BD2D9;
}

#gamefeatures{
    background-image: url(assets/img/aboutus/bggamefeature.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    height: fit-content;
    /* display: grid;
    grid-template-columns: 1.85fr 0.15fr; */
}

#gamefeaturescontent{
    /* height: 470vh; */
    height: 500vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    position: relative;
}

/* #gamefeaturesscroll{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 5px solid yellow   ;
} */

#gamefeaturesscroller{
    position: absolute;
    height: 100%;
    right: 0;
}

#gamefeaturesscrollercontent {
    margin-top: 20vh;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    z-index: 100;
    top: 15%;
    bottom: 20%;
    margin-bottom: 20vh;
    margin-right: 2vw;
    /* border: 5px solid green; */
}

#gfscrollerup {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#gfscrollerup img {
    position: sticky;
    width: 3vw;
    height: 10vh;
}

#gfscrollerline {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.3vw;
}

#gfscrollerline img {
    position: sticky;
    width: 0.2vw;
    height: 50vh;
}

#gfscrollerdown {
    display: flex;
    justify-content: center;
}

#gfscrollerdown img {
    position: sticky;
    width: 3vw;
    height: 10vh;
}

#emptyfeatures{
    height: 10vw;
}

#gamefeaturestitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
}

#gamefeaturestitle h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    text-align: center;

    color: #000000;
}

#adventure {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#adventureimage {}

#adventureimage img {
    width: 70vw;
    height: 65vh;
}

#adventuretext {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#adventuretitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-right: 5vw;
}

#adventuretitle h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#adventureexp {
    display: flex;
    margin-right: 5vw;
}

#adventureexp h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#discover {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#discoverimage img {
    width: 70vw;
    height: 65vh;
}

#discovertext {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#discovertitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-left: 5vw;
}

#discovertitle h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;

    color: #000000;
}

#discoverexp {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5vw;
}

#discoverexp h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#travelfeatures {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#travelimage {}

#travelimage img {
    width: 70vw;
    height: 65vh;
}

#traveltext {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#traveltitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    margin-right: 5vw;
}

#traveltitle h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#travelexp {
    display: flex;
    margin-right: 5vw;
}

#travelexp h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#masterfeatures {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#masterimage {}

#masterimage img {
    width: 70vw;
    height: 65vh;
}

#mastertext {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#mastertitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    margin-left: 5vw;
}

#mastertitle h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#masterexp {
    display: flex;
    margin-left: 5vw;
}

#masterexp h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#buildfeatures {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#buildimage {
    width: 70vw;
    height: 65vh;
}

#buildimage img {
    width: 70vw;
    height: 65vh;
}

#buildtext {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#buildtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    margin-right: 5vw;
}

#buildtitle h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

#buildexp {
    display: flex;
    margin-right: 5vw;
}

#buildexp h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#emptyspace{
    height: 20vh;
}

#galleries {
    background-image: url(assets/img/aboutus/backgroundgaleries.png);
    background-size: 100% 100%;
    height: 110vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#galleriestitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#galleriestitle h1 {
    text-align: center;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
}

#galleriescontent {
    display: grid;
    grid-template-columns: 1.3fr 0.2fr 1.25fr 0.25fr;
    margin-bottom: 7vh;
}

.button{
    width: 10vw;
    height: 5vw;
    border-radius: 5vw;
    font-size: 2vw;
    background-color: transparent;
    border: none;
}

.button:hover{
    font-size: 3vw;
    transform: scale(120%);
    transition-duration: 3rem;
}

/* Modal Background */
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    /* transform: translate(-40%); */
    top: 0;
    width: 100vw;
    height: 100vh;
    /* overflow: auto; */
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content{
    margin-left: 50%;
    /* margin-top: 50%; */
    transform: translateX(-50%);
    background-color: transparent;
    /* margin: 10% auto; */
    /* padding: 5vw; */
    /* border: 1px solid white; */
    width: fit-content;
    height: fit-content;
    position: relative;
}

.modal-content img {
    width: 65vw;
}

.slides{
    width: 100%;
    position: relative;
  }
  
  .slides .slide{
  }
  
  .slides .slide img{
    width: 100%;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  .slides .navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .slides .navigation .prev, .slides .navigation .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.2);
    user-select: none;
    transition: 0.6s ease;
  }
  
  .slides .navigation .prev:hover, .slides .navigation .next:hover{
    background: rgba(0,0,0,1);
  }
  
  /* @keyframes fade {
    from{opacity: 0.3}
    to {opacity: 1}
  }
  
  @media (max-width: 992px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 18px;
      padding: 13px;
    }
  }
  
  @media (max-width: 768px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 15px;
      padding: 10px;
    }
  }
  
  @media (max-width: 576px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 12px;
      padding: 7px;
    }
  }
  
  @media (max-width: 360px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 11px;
      padding: 6px;
    }
  } */

/* The Close Button */
.close{
    color: white;
    /* float: right; */
    margin-left: 2vw;
    font-size: 5vw;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* #photos {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#linespace {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3vw;
}

#linespace img {
    height: 70vh;
}

#videos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9vw;
}

#scroller {
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr;
}

#scrollerup {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#scrollerup img {
    width: 3vw;
    height: 10vh;
}

#scrollerline {
    display: flex;
    justify-content: center;
}

#scrollerline img {
    width: 0.2vw;
    height: 50vh;
}

#scrollerdown {
    display: flex;
    justify-content: center;
}

#scrollerdown img {
    width: 3vw;
    height: 10vh;
}

#galleriescontent h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    transition: 500ms;
    color: #FFFFFF;
}

#galleriescontent h1:hover {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    text-shadow: 3px 1px 8px #6BD2D9;
    transition: 500ms;
}

#emptyspace2 {
    height: 70px;
}

#platforms{
    height: 100vh;
    display: grid;
    grid-template-rows: 1.1fr 0.7fr 0.3fr;
}

#genshinlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#genshinlogo img {
    width: 400px;
    height: 170px;
}

#platformstext {
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#ptext1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ptext1 h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;

    color: #FFFFFF;
}

#ptext2 {
    display: flex;
    justify-content: center;
}

#ptext2 h1 {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;

    color: #0B0A0A;
}

#platformslogo {
    display: flex;
    justify-content: center;
}

#pslogo:hover {
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#iOSlogo:hover {
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#androidlogo:hover {
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#windowslogo:hover {
    filter: drop-shadow(1px 2px 4px #6BD2D9);
}

#platformsbuttonup {
    display: flex;
    justify-content: center;
    align-items: first baseline;
}

#platformsbuttonup img {
    width: 35px;
    height: 50px;
}

.footer {
    background-image: url(assets/img/home/footerbg.png);
    position: relative;
    width: 100%;
    height: 65vh;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vw;
    width: 100%;
    height: 30%;
}

.logo-nav img {
    width: 11%;
    height: 40%;
}

.footerNav {
    display: flex;
    gap: 1vw;
    font-family: Tahoma;
}

.footerNav a {
    text-decoration: none;
    color: #838383;
}

.img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5vw;
    width: 100%;
}

.img-text img {
    width: 12%;
    height: 45%;
}

.img-text h5 {
    width: 70%;
    align-items: center;
    text-align: center;
    font-family: Tahoma;
    font-weight: lighter;
    color: #838383;
}

#cr {
    color: white;
}

.img-text img:not(:first-child) {
    width: 25%;
    height: 50%;
}