*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Tahoma;
    src: url('Tahoma Regular font.ttf');
}

.navbar{
    position: absolute;
    display: flex;
    background-color: rgba(60, 53, 59, 0.5);
    justify-content: space-between; 
    /* padding: 2%; */
    width: 100vw;
    height: 10vh;
    z-index: 5;
    font-family: Tahoma;
    font-style: normal;
}

.logo{
    margin-left: 4vw;
}

.logo img{
    height: 9vh;
    width: 12vw;
}

.logo-menu{
    display: flex;
    gap: 2vw;
}

.menu-button{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.menu{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.menu a{
    color: white;
    opacity: 80%;
    text-decoration: none;
    transition: all 0.2s;
}

#home{
    color: white;
    opacity: 100%;
    text-shadow: 1px 2px 4px #6BD2D9;
}

.menu a:hover{
    /* border-top: 5px solid #FFCF0D; */
    /* border-bottom: 5px solid transparent; */
    opacity: 100%;
    text-shadow: 1px 2px 4px #6BD2D9;
    /* padding-top: 20px; */
}

.menu-button a{
    color: white;
    text-decoration: none;
    opacity: 80%;
    transition: all 0.2s;
}

.menu-button button{
    background-color: #FFCF0D;
    height: 100%;
    padding: 2vh 3vw;
    font-size: 1em;
    color: #5F5656;
    border: transparent;
}

.menu-button a:hover{
    color: white;
    opacity: 100%;
    text-shadow: 1px 2px 4px #6BD2D9;
}
 
.jumbotron::after{ 
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* backdrop-filter: blur(10px); */
    z-index: 2;
}

.jumbotron{
    /* background-image: url(assets/img/jumbotronHomePic.jpg); */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.jumbotron video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.jumbotron-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}